@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Big Noodle Too';
    src: url('assets/fonts/big-noodle-too-oblique.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Futurano';
    src: url('assets/fonts/futurano2d-demibold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}